* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.propiedades-p1 {
  color: hwb(0 100% 0%);
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(181, 153, 117);
}

.header {
  background-color: #F4E7CA;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.iconos-header {
  text-align: right;
  text-decoration: none;
  background-color: #F4E7CA;
  padding: 10px;
  margin: 5px;
}

.iconos-header a img {
  border-radius: 20px;
}

/* el nav con bootstrap me da un espacio en blanco */
/* Lo solucioné sacando el heigh y width del HTML de la img y sacando el padding en css de la img, pero agregando un width 10% */

nav div a img {
  margin-left: 50px;
  margin-right: 16px;
  width: 11%;
  padding: 0;

  ..
  
}

.main {
  background: #F4E7CA;
  width: 100%;
  max-width: ;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 196px;
}

.seccion-1 {
  display: flex;
  min-height: 350px;
  margin: 0 auto;
  max-width: 1000px;
}

.seccion-1-izq {
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 70px;
  border-radius: 8px;
}

.seccion-1-der {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  margin-left: 15px;
  margin-top: 70px;
}

.texto1 {
  line-height: 1.7;
  text-align: justify;
  font-weight: lighter;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(89, 85, 85);
}

.span-1 {
  color: rgb(121, 203, 121);
  font-weight: bold;
}

.propiedades-titulo {
  color: green;
  font-size: 38px;
  margin-bottom: 15px;
  line-height: 48px;
  font-family: Lato;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  letter-spacing: 0px;
  line-height: 1.5;
}

.propiedades-titulo-sub {
  font-size: 28px;
  margin-bottom: 15px;
  line-height: 48px;
  font-family: Lato;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  letter-spacing: 0px;
  line-height: 1.5;
}

.imagenes {
  display: grid;
  height: 200px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 25px;
  margin: 25px;

}

.imagenes__grid__hijo {
  border-radius: 5px;
  overflow: hidden;
  transition: all 1s;

  /*position: relative; futura descrip. de producto y precio para cada item */
}

.imagenes__grid__hijo :hover {}

.imagenes__grid__hijo--1 {
  justify-self: center;
}

.imagenes__grid__hijo--2 {
  justify-self: center;
}

.imagenes__grid__hijo--3 {
  justify-self: center;
}

.imagenes__grid__hijo--4 {
  justify-self: center;
}

.ofertas {
  margin-top: 70px;
}

.imagenes__grid__hijo--5 {
  justify-self: center;
}

.imagenes__grid__hijo--6 {
  justify-self: center;
}

.imagenes__grid__hijo--7 {
  justify-self: center;
}

.imagenes__grid__hijo--8 {
  justify-self: center;
}

.imagenes__productos {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.alert-success {
  padding: px;
  margin-top: 45px;
  display: flex;
  justify-content: center;

  border-radius: 8px;
  text-align: center;
}

.novedades-izq {
  width: 100%;
  margin-top: 20px;
  margin: auto;

}

.novedades-der {
  width: 50%;
  padding-left: 70px;
  margin-left: 100px;
  margin-top: 20px;
  border-radius: 12px;
}

.video {
}

.row {
  justify-content: space-between;
}

.simbolos {
  display: flex;
  margin-top: 40px;
  background-color: darkgrey;
  color: black;
  margin-bottom: 30px;
  height: 200px;
}

.simbolos__1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: initial;
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: bold;
  margin: 50px;
}

.simbolos__2 {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: initial;
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: bold;
  margin: 50px;
}


.simbolos__3 {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: initial;
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: bold;
  margin: 50px;
}

.redes-footer__3 ul li a img {
  border-radius: 20px;
}

/* Sección "quienes Somos" */

.quienes-somos {
  line-height: 1.7;
  text-align: justify;
  font-weight: lighter;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(89, 85, 85);
  margin: 30px 80px;
}



/* productos */
.imagenes-productos {
  height: 500px;
}






/* css de footer */
a {
  text-decoration: none;
}

.propiedad-p3 {
  background-color: rgb(27, 24, 24);
  color: aliceblue;
  text-align: center;
}

footer {
  background-color: rgb(27, 24, 24);
  color: aliceblue;
}

footer a {
  color: aliceblue;
}

.redes-footer {
  display: flex;
  padding: 50px;
}

.redes-footer__1 {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: initial;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 1.2;
  flex-direction: column;
}

.redes-footer__2 {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: initial;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 1.2;
  flex-direction: column;
}

.redes-footer__3 {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: initial;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 1.2;
  flex-direction: column;
}

ul {
  list-style: none;
}

/* media querie de AL MENOS 768PX OSEA ESO PAR QUE SE EJECUTE. */
/* Min-width: Si el contenido tiene un ancho menor a XXXpx, usaremos un párrafo con XX px de tamaño. Osea, min-width: de ACA para arriba */
/* MAX-width: de XXXpx para abajo */
@media screen and (max-width: 600px) {


  .iconos-header {
    text-decoration: none;
    padding: 5px;
    width: 50px;
    height: 50px;
  }

  .main {
    width: 150%;
  }

  .seccion-1 {
    display: flex;
    flex-direction: column;
  }

  .seccion-1-izq {
    width: 100%;
    display: flex;
  }

  .seccion-1-der {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 5px;
    margin-top: 3px;
  }

  .texto1 {
    font-size: 1.6rem;
  }

  .propiedades-titulo {
    font-size: 76px;
  }

  .propiedades-titulo-sub {
    font-size: 56px;
  }

  .imagenes {
    display: grid;
    width: 100%;
    height: auto;
    gap: 30px;
    padding-right: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 400px);
  }

  .novedades-izq {
    width: 100%;
    margin-top: 5px;
  }

  .novedades-der {
    width: 60%;
    padding-left: 70px;
    margin-left: 100px;
    margin-top: 20px;

  }

  .simbolos {
    display: flex;
    margin-top: 40px;
    background-color: darkgrey;
    color: black;
    margin-bottom: 30px;
    height: 200px;
  }

  .simbolos__1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: initial;
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: bold;
    margin: 50px;
  }

  .simbolos__2 {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: initial;
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: bold;
    margin: 50px;
  }

  .simbolos__3 {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: initial;
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: bold;
    margin: 50px;
  }

  .redes-footer__3 ul li a img {
    border-radius: 20px;
  }

  /* Sección "quienes Somos" */

  .quienes-somos {
    line-height: 1.7;
    text-align: justify;
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(89, 85, 85);
    margin: 30px 80px;
  }



  /* productos */
  .imagenes-productos {
    height: 500px;
  }



/* Trabajando en modificaciones en las media querys para porxima entrega */


  /* css de footer */
  a {
    text-decoration: none;
  }

  .propiedad-p3 {
    background-color: rgb(27, 24, 24);
    color: aliceblue;
    text-align: center;
  }

  footer {
    background-color: rgb(27, 24, 24);
    color: aliceblue;
  }

  footer a {
    color: aliceblue;
  }

  .redes-footer {
    display: flex;
    padding: 50px;
  }

  .redes-footer__1 {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: initial;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.2;
    flex-direction: column;
  }

  .redes-footer__2 {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: initial;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.2;
    flex-direction: column;
  }

  .redes-footer__3 {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: initial;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.2;
    flex-direction: column;
  }

  ul {
    list-style: none;
  }






}




@media screen and (min-width: 768px) {


}



  @media screen and (min-width: 599px) and (max-width: 799px) {
    html, body {
      max-width: 100% !important;
      overflow-x: hidden !important;
    }
   }