@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }
  * ul {
    list-style: none; }

html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important; }

.propiedades-p1 {
  color: hwb(0 100% 0%);
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #b59975; }

.header {
  background-color: #F4E7CA;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; }

.iconos-header {
  text-align: right;
  text-decoration: none;
  background-color: #F4E7CA;
  padding: 10px;
  margin: 5px; }

header svg {
  color: #282525; }

/* el nav con bootstrap me da un espacio en blanco */
/* Lo solucioné sacando el heigh y width del HTML de la img y sacando el padding en css de la img, pero agregando un width 10% */
.navbar {
  z-index: 1;
  padding: 0; }

nav div a img {
  margin-left: 30px;
  margin-right: 16px;
  width: 12%;
  padding: 0;
  align-items: flex-start; }

.main {
  background: #F4E7CA;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: calc(100vh - 50px); }

.seccion-1 {
  display: flex;
  min-height: 350px;
  margin: 0 auto;
  max-width: 1000px; }

.seccion-1-izq {
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 70px;
  border-radius: 8px; }

.seccion-1-der {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  margin-left: 15px;
  margin-top: 70px; }

.texto1 {
  line-height: 1.7;
  text-align: justify;
  font-weight: lighter;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #595555; }

.span-1 {
  color: #79cb79;
  font-weight: bold; }

.propiedades-titulo {
  color: green;
  font-size: 38px;
  margin-bottom: 15px;
  line-height: 48px;
  font-family: Lato;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  letter-spacing: 0px;
  line-height: 1.5; }

.propiedades-titulo-sub {
  font-size: 28px;
  margin-bottom: 15px;
  line-height: 48px;
  font-family: Lato;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  letter-spacing: 0px;
  line-height: 1.5; }

.imagenes {
  display: grid;
  height: 200px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 25px;
  margin: 25px; }

.imagenes__grid__hijo {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 1px 10px black;
  transition: all 40ms ease;
  /*position: relative; futura descrip. de producto y precio para cada item con botón de compra*/ }

.imagenes__grid__hijo:hover {
  box-shadow: 5px 5px 20px rgba(32, 32, 32, 0.3); }

.imagenes__grid__hijo--1 {
  justify-self: center; }

.imagenes__grid__hijo--2 {
  justify-self: center; }

.imagenes__grid__hijo--3 {
  justify-self: center; }

.imagenes__grid__hijo--4 {
  justify-self: center; }

.ofertas {
  margin-top: 70px; }

.imagenes__grid__hijo--5 {
  justify-self: center; }

.imagenes__grid__hijo--6 {
  justify-self: center; }

.imagenes__grid__hijo--7 {
  justify-self: center; }

.imagenes__grid__hijo--8 {
  justify-self: center; }

.imagenes__productos {
  width: 100%;
  height: 100%; }

.conoceMas {
  margin-top: 30px; }

.alert-success {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  text-align: center; }

/* iframe  */
.iframe {
  display: flex;
  justify-content: center; }

.responsive-iframe {
  margin-top: 80px;
  margin: 0 auto; }

.row {
  justify-content: space-between; }

/* Barra de texto en gris */
.simbolos {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  background-color: #b7b7b7;
  color: black;
  height: 180px;
  width: 100%; }

.simbolos__1 {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 3;
  font-weight: bold;
  margin: 50px; }

.simbolos__2 {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 3;
  font-weight: bold;
  margin: 10px; }

.simbolos__3 {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 3;
  font-weight: bold;
  margin: 40px; }

/* Pagina "Quienes Somos" */
.quienes-somos-conteniner {
  padding-bottom: 56px; }

.quienes-somos {
  line-height: 1.7;
  text-align: justify;
  font-weight: lighter;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #595555;
  margin: 30px 75px;
  margin-bottom: 0; }

/* Pagina Productos */
.imagenes-productos {
  height: 200px; }

/* Pagina Como Comprar */
.Conteiner-como-comprar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.card-como-comprar {
  width: 300px;
  height: 400px;
  margin: 18px;
  border: 1px solid gray;
  border-radius: 14px;
  box-shadow: 2px 2px 5px #a9a9a9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(to top, #d1eee0 0%, #edefed 100%); }
  .card-como-comprar h2 {
    padding: 0 13px 0;
    font-weight: 700; }
  .card-como-comprar p {
    font-size: 20px;
    text-align: justify;
    padding: 20px; }

/* Pagina Contacto */
.propiedades-titulo-sub--contacto {
  padding-top: 50px; }

.formulario {
  display: flex;
  flex-direction: column;
  height: 150vh;
  width: 100%; }

.form {
  background-color: #fff;
  width: 90%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
  margin: auto; }

.form__container {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%; }

.form__titulo {
  text-align: center;
  font-size: 1.9em;
  margin-bottom: .4em; }

.form_input {
  font-size: 1rem;
  padding: .8em 1em;
  outline: none;
  border: none;
  border: 1px solid #bbb0b0;
  border-radius: 0.2em; }

.form_input--comentario {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: 1.5em; }

.form_enviar {
  color: #f8f0f0;
  background-color: #12a1df;
  border: none;
  font-weight: 300;
  font-size: 1rem;
  padding: .7em 0;
  border-radius: .2em;
  cursor: pointer;
  font-weight: 400; }

/* css de footer */
a {
  text-decoration: none; }

.propiedad-p3 {
  background-color: #1b1818;
  color: white;
  text-align: center; }

footer {
  background-color: #1b1818;
  color: white;
  width: 100%; }
  footer a {
    color: white; }
  footer ul {
    padding: 0; }
  footer p {
    margin-bottom: 0; }

.redes-footer {
  display: flex;
  padding: 40px; }

.redes-footer__1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: initial;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 1.4;
  flex-direction: column; }

.redes-footer__2 {
  width: 80%;
  display: flex;
  align-items: initial;
  font-size: 20px;
  letter-spacing: 0px;
  flex-direction: column; }

@media screen and (max-width: 768px) {
  /* media query para index 768px */
  .iconos-header {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin: 0px;
    align-items: end; }
  .propiedades-p1 {
    margin: 0%; }
  nav div a img {
    width: 16%;
    padding: 0; }
  .navbar .container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap; }
  .seccion-1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .seccion-1-izq {
    width: 94%; }
  main .seccion-1 div img {
    border-radius: 20%; }
  .seccion-1-der {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 5px;
    margin-top: 3px; }
  .imagenes {
    display: grid;
    height: auto;
    gap: 30px;
    padding-right: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 400px); }
  .responsive-iframe {
    width: 80%; }
  .simbolos {
    display: flex;
    flex-shrink: 2;
    flex-basis: 100px;
    margin-top: 40px;
    background-color: darkgrey;
    color: black;
    margin-bottom: 0;
    height: 200px;
    justify-content: center;
    align-items: center; }
  .simbolos__1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: initial;
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: bold;
    margin: 50px; }
  .simbolos__2 {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: initial;
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: bold;
    margin: 50px; }
  .simbolos__3 {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: initial;
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: bold;
    margin: 50px; }
  /* Pagina Contacto */
  .form {
    padding: 3.5em 1em; }
  /* Sección "quienes Somos" */
  .quienes-somos {
    font-size: 14px;
    line-height: 1.7;
    color: #595555;
    padding: 14px 21px 0 21px;
    margin: 8px; }
  /* productos */
  .imagenes-productos {
    height: 600px;
    display: grid;
    height: auto;
    gap: 30px;
    padding-right: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 400px); }
  .card-como-comprar {
    width: 100%;
    height: auto;
    margin: 20px 0; } }

@media screen and (max-width: 500px) {
  /* media query para index 500px */
  * .propiedades-p1 p {
    font-size: 16px; }
  header {
    height: 200px; }
  .main .seccion-1 {
    margin: 0px;
    height: 700px; }
  main .seccion-1 div img {
    border-radius: 20%; }
  .seccion-1-izq {
    display: flex;
    width: 90%; }
  .propiedades-titulo {
    margin-bottom: 0px; }
  .imagenes {
    grid-template-columns: repeat(1, 1fr); }
  .alert-success {
    display: block; }
  .simbolos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 400px; }
  .simbolos__1 {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center; }
  .simbolos__2 {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .simbolos__3 {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .redes-footer__1 {
    font-size: 16px; }
  .redes-footer__2 {
    font-size: 16px;
    width: 100%; }
  .redes-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 22px 0 22px 22px; }
  .redes-footer__2 h3 {
    padding-bottom: 10px; } }

@media screen and (max-width: 991px) {
  .navbar-nav {
    text-align: right; }
  nav div button .navbar-toggler {
    text-align: right; } }
