$bg-principal: #F4E7CA;

$typo-principal: 'Lato', sans-serif;
$typo-p: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$typo-color-titulo: green;
$typo-color-titulo-sub: #212529;