/* Pagina Como Comprar */
.Conteiner-como-comprar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.card-como-comprar {
  width: 300px;
  height: 400px;
  margin: 18px;
  border: 1px solid gray;
  border-radius: 14px;
  box-shadow: 2px 2px 5px #a9a9a9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #d1eee0 0%, #edefed 100%);

  h2 {
    padding: 0 13px 0;
    font-weight: 700;
  }

  p {
    font-size: 20px;
    text-align: center;
    padding: 20px;
  }
}

.div-como-comprar {
  padding: 20px;
}

.texto-como-comprar {
  text-align: center;
  font-size: 20px;
}