/* Pagina "Quienes Somos" */
.quienes-somos-conteniner {
  padding-bottom: 56px;
}

.quienes-somos {
  line-height: 1.7;
  text-align: justify;
  font-weight: lighter;
  font-family: $typo-p;
  color: rgb(89, 85, 85);
  margin: 30px 75px;
  margin-bottom: 0;
}